<template>
  <v-card>
    <v-toolbar color="primary" dark>
      <v-icon color="white">security</v-icon>
      <v-toolbar-title>Change Password</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <br>

    <v-alert outline color="#1A237E" class="font-weight-light ml-4 mr-4" icon="info" :value="true">
        Your password must be 8 characters including at least 1 uppercase,
        1 special char and 1 numeric  <br>
        <b>Special characters allowed: </b><code> !@#$% </code>
    </v-alert>

   <v-container fluid>

        <v-text-field
        label="Enter Current Password..."
        :append-icon="oldPass ? 'visibility' : 'visibility_off'"
        @click:append="() => (oldPass = !oldPass)"
        name="password"
        id="oldpassword"
        :type="oldPass ? 'password' : 'text'"
        v-model="user.oldpass"
        ></v-text-field>

        <v-text-field
        label="New Password..."
        :append-icon="newValue ? 'visibility' : 'visibility_off'"
        @click:append="() => (newValue = !newValue)"
        name="password"
        id="password"
        :type="newValue ? 'password' : 'text'"
        v-model="user.newpass"
        ></v-text-field>

        <v-text-field
        label="Confirm Password..."
        :append-icon="newValue ? 'visibility' : 'visibility_off'"
        @click:append="() => (newValue = !newValue)"
        name="neepassword"
        id="newpassword"
        :type="newValue ? 'password' : 'text'"
        v-model="user.confirmnewpass"
        ></v-text-field>
         
  </v-container>

    <v-btn color="primary" :loading="loading" @click="onChangePassword">Update Password <pre> </pre><v-icon>verified_user</v-icon></v-btn>

    <v-btn color="orange" outline @click="closePasswordDialog">Cancel <pre> </pre><v-icon>close</v-icon></v-btn>

    <v-snackbar :timeout="snackbar.timeout" top center :color="snackbar.color" v-model="snackbar.show">
      {{ snackbar.text }}
      <v-btn dark flat @click.native="snackbar.show = false" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>

  </v-card>
</template>



<script>

import axios from 'axios';

export default {
  
    data: () => ({
        isSuccess: false,
        loading: false,
        isValid: null,
        oldPass: String,
        newValue: String,
        user : {
            auth: localStorage.getItem('auth'),
            email: localStorage.getItem('email'),
            wallet: localStorage.getItem('wallet'),
            hashpass: localStorage.getItem('passhash'),
            newpass: null,
            confirmnewpass: null,
            oldpass: null
        },
        snackbar: {
            show: false,
            text: "",
            timeout: 8000,
            color: "red"
        },

    }),

    methods: {
    
        async onChangePassword() {

            let newpassword = await this.sha256(this.user.newpass)

            let oldpassword = await this.sha256(this.user.oldpass)

            if(oldpassword != this.user.hashpass) {
                this.snackbar.show = true
                this.snackbar.text = "Password do not matched with your current password!"
                return;
            }

            if(this.user.oldpass == null || this.user.oldpass == ''){
                this.snackbar.show = true
                this.snackbar.text = "Enter your current password!"
                return; 
            }

            if(this.user.newpass == null || this.user.confirmnewpass == ''){
                this.snackbar.show = true
                this.snackbar.text = "Provide a new password!"
                return; 
            }

            if(this.user.newpass != this.user.confirmnewpass){
                this.snackbar.show = true
                this.snackbar.text = "Password do not matched!"
                return; 
            }

            this.isValid = (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%])[A-Za-z\d!@#$%]{8,}$/.test(this.user.newpass))

            if(!this.isValid){
                this.snackbar.show = true
                this.snackbar.text = "Please follow the password requirements."
                return
            }
            
            const response = axios.post('chpassword?auth=' + this.user.auth + '&wallet=' + this.user.wallet + '&email=' + this.user.email + '&passhash_new=' + newpassword)
                .then(res => {
                    this.loading = true
                    this.isSuccess = true
                    localStorage.setItem('passhash', newpassword)
                    localStorage.setItem('password', newpassword)
                    this.snackbar.show = true
                    this.snackbar.color = "green"
                    this.snackbar.text = "You've successfully updated your password!"
                    setTimeout(() => {
                        this.loading = false
                        this.closePasswordDialog();
                    }, 3000)
                })
                .catch(err => console.error(err));
            
        },

        sha256(str) {
      
            var buffer = new TextEncoder("utf-8").encode(str);
            return crypto.subtle.digest("SHA-256", buffer).then(function(hash) {

                var hexCodes = [];
                var view = new DataView(hash);
                for (var i = 0; i < view.byteLength; i += 4) {
                    var padding = "00000000";
                    var paddedValue = (padding + view.getUint32(i).toString(16)).slice(-padding.length);
                    hexCodes.push(paddedValue); 
                }
                // Join all the hex strings into one
                return hexCodes.join("");
            });
        },

        closePasswordDialog: function(){
            this.$root.$emit('closePasswordDialog')
        },
        
    }


}
</script>




