<template>

    <v-card class="mx-auto elevation-3" v-tooltip.top-center="title == 'PYN Balance' ? message : '' " :class="color" dark>

      <v-card-title>
        <span class="title font-weight-light">{{title}}</span>
          <spacer></spacer><pre> </pre>
        <v-icon color="white">{{ icon }}</v-icon>
      </v-card-title>

      <div class="xs6 xs12 flex text-sm-center py-3 "> 
          <h1>{{balance}}</h1>
      </div>

    </v-card>

</template>

<script>
export default {
  props: {
    icon: String,
    title: String,
    balance: String,
    bnbPrice: String,
    subTitle: String,
    color: String,
    pyncolor: String
  },
  data: () => ({
    message: 'Verified!'
  })
}
</script>