<template>
  <carousel-3d :autoplay="true" :inverse-scaling="200" :space="200" :autoplay-timeout="5000" :width="200" :height="160" :display="5">

    <slide :index="0">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/$1,000%20Paycent%20Preloaded%20Cards.png" />
      <figcaption>
        $1,000 Paycent Preloaded Cards
      </figcaption>
    </slide>

    <slide :index="1">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/$2,500%20Paycent%20Preloaded%20Cards.png" />
      <figcaption>
        $2,500 Paycent Preloaded Cards
      </figcaption>
    </slide>

    <slide :index="2">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/EVGA%20Geforce%20RTX%202080%20XC%20GAMING,%208GB%20GDDR6%20LED%20Graphics%20Card.png" />
      <figcaption>
        EVGA Geforce RTX 2080 XC GAMING, 8GB GDDR6 LED Graphics Card
      </figcaption>
    </slide>

    <slide :index="3">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/Blink%20Xt2%20Security%20Camera%20System%20(5%20Camera%20Kit).png" />
      <figcaption>
        Blink Xt2 Security Camera System (5 Camera Kit)
      </figcaption>
    </slide>

    <slide :index="4">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/2020%20Bentley%20Bentayga%20LUXURY%20SUV%20VEHICLE.png" />
      <figcaption>
        2020 Bentley Bentayga LUXURY SUV VEHICLE
      </figcaption>
    </slide>

    <slide :index="5">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/GOLD%20BAR%20(1kg%2024kt%20w%20COA).png" />
      <figcaption>
        1 KG 24 KARAT CERTIFIED GOLD BARS
      </figcaption>
    </slide>

    <slide :index="6">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/Rolex%20Cosmograph%20Daytona.png" />
      <figcaption>
        Rolex Cosmograph Daytona
      </figcaption>
    </slide>

    <slide :index="7">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/Intel%20I9-9980xe%20Extreme%20Processor.png" />
      <figcaption>
        Intel I9-9980xe Extreme Processor
      </figcaption>
    </slide>

    <slide :index="8">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/EPSON%20HOME%20CINEMA%205040UB%204KHDR%20PROJECTOR.png" />
      <figcaption>
        EPSON HOME CINEMA 5040UB 4K/HDR PROJECTOR
      </figcaption>
    </slide>

    <slide :index="9">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/MISCROSOFT%20XBOX%20ONE%20X%201TB%204K%20ULTRA%20HDHDR.png" />
      <figcaption>
        MISCROSOFT XBOX ONE X 1TB 4K ULTRA HD/HDR
      </figcaption>
    </slide>

    <slide :index="10">
      <img src="https://paycent.com/wp-content/themes/twentysixteen-child/assets/img/blue/promo/prizes/SONY%20PLAYSTATION%20PRO%201TB.png" />
      <figcaption>
        SONY PLAYSTATION PRO 1TB
      </figcaption>
    </slide>
    
  </carousel-3d>
</template>

<script>
import { Carousel3d, Slide } from 'vue-carousel-3d';

export default {
 
  components: {
    Carousel3d,
    Slide
  }

};
</script>

<style lang="stylus" scoped>
.carousel-3d-container figure {
  margin:0;
}

.carousel-3d-container figcaption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 0;
  position: absolute;
  bottom: 0;
  padding: 15px;
  font-size: 12px;
  min-width: 100%;
  box-sizing: border-box;
}
</style>

