<template>
  <div id="page-steppers">

    <v-subheader color="primary">BUY PYN-C37</v-subheader>
    <v-stepper v-model="step">
    <v-stepper-header>
        <v-stepper-step step="1" :complete="step > 1">Verify Email</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="2" :complete="step > 2">Verify Wallet</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3">Confirm BNB Transaction</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
        <!-- step 1 -->
        <v-stepper-content step="1">
            <v-alert outline color="orange" icon="info" :value="true">
                <b>Email Verification</b><br>
                <p>Enter the Email address you want to send the wallet address to be created.</p>
            </v-alert>
            <div class="mb-5 pt-3 pl-3 pr-3 pb-2 step-content">

                <v-text-field
                label="Enter your Email..."
                append-icon="email"
                name="email"
                id="email"
                type="email"
                width="200"
                v-model="user.email"
                ></v-text-field>

                   <v-text-field
                label="Confirm Email..."
                append-icon="email"
                name="email"
                id="emailId"
                type="email"
                width="200"
                v-model="user.confirmationEmail"
                ></v-text-field>

            </div>

            <v-btn color="primary" :loading="loading" @click.native="apiRegistrateWithoutWallet">Continue</v-btn>
            <v-btn color="orange" outline @click="cancelPYNBuying">Cancel</v-btn>
        </v-stepper-content>

        <!-- step 2 -->
        <v-stepper-content step="2">
            <v-alert outline color="orange" icon="info" :value="true">
                <b>Verify Wallet</b><br>
                <p>Please check your email for instructions and enter the wallet address from where you want to send the BNB.</p>
               
            </v-alert>
             <div class="mb-5 pt-5 pl-3 pr-3 pb-2 step-content">

                <v-text-field
                label="wallet bnb[a-z0-9]{39,39}"
                append-icon="account_balance_wallet"
                name="txid"
                id="txId"
                type="text"
                width="200"
                v-model="user.walletFrom"
                ></v-text-field>

            </div>
            <v-btn color="primary" @click.native="verifyWallet">Continue</v-btn>
            <v-btn color="orange" outline @click.native="step = 1">Back</v-btn>
        </v-stepper-content>

        <!-- step 3 -->
        <v-stepper-content step="3">
             <v-alert outline color="orange" icon="info" :value="true" v-if="!isBuySuccess">
                <b>Verify Transaction</b><br>
                <p>Enter the TxHash of the BNB you sent. Your PYN will be sent to your newly created wallet.</p>
            </v-alert>
             <div class="mb-5 pt-5 pl-3 pr-3 pb-2 step-content">

                <v-text-field
                label="Enter TxID / TxHash" 
                append-icon="txid"
                name="txid"
                id="txId"
                type="text"
                width="200"
                v-model="bnb.txId"
                ></v-text-field>

            </div>

            <v-btn color="primary" :loading="loading" @click.native="handleBuyPYN">Buy PYN</v-btn>
            <v-btn color="orange" outline @click.native="step = 2">Back <pre> </pre><v-icon>arrow_left</v-icon></v-btn>

        </v-stepper-content>
    </v-stepper-items>
    </v-stepper>

    <v-snackbar :timeout="5000" top center :color="snackbar.color" v-model="snackbar.show">
      {{ snackbar.text }}
      <v-btn dark flat @click.native="snackbar.show = false" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>

  </div>
</template>

<script>
import VWidget from "@/components/VWidget"
import axios from 'axios';

export default {
    components: {
        VWidget
    },
    data() {
        return {
            step: 1,
            e13: 1,
            loading: false,
            isWalletCreated: false,
            isBuySuccess: false,
            isEmailMatched: null,
            warningMsg: null,
            user: {
                email: null,
                confirmationEmail: null,
                walletFrom: null,
                newWalletCreated: null,
            },
            bnb: {
                txId: null
            },
            buyOrder: {
                txhash: null
            },
            snackbar: {
                show: false,
                text: "",
                color: ""
            }
        }
    },
    props: {
        mode: String
    },
    computed: {},
    methods: {

        async apiRegistrateWithoutWallet() {

            if(this.user.email != this.user.confirmationEmail) {

                this.snackbar.show = true
                this.snackbar.color = "red"
                this.snackbar.text = "Email do not matched!"
                return this.warningMsg = null

            } else if(this.user.email == null) {

                this.snackbar.show = true
                this.snackbar.color = "red"
                this.snackbar.text = "Please provide a valid email!"
                return this.warningMsg = null

            } 

            if(!this.isWalletCreated) {

                this.loading = true
                let hashedPassword = localStorage.getItem('passhash')

                const response = await axios.post('registrateWithoutWallet?email=' + this.user.email + '&passhash=' + hashedPassword)
                .then(res => {

                    if(res.status == 200) {
                        this.isWalletCreated = true;
                        this.isEmailMatched = true
                        this.user.newWalletCreated = res.data.wallet;
                        this.user.email = res.data.email;

                        setTimeout(() => {
                            this.loading = false
                            this.step = 2;
                        }, 3000)
                    }

                })
                .catch(err => console.error(err));
            }  
            
            if(this.isWalletCreated) {this.step = 2;}
               
        },

        async handleBuyPYN() {

            if(this.bnb.txId == null || this.bnb.txId == ''){
                this.snackbar.show = true
                this.snackbar.color = "red"
                this.snackbar.text = "You should provide the TxHash of the BNB you sent!"
            } else {

                const response = await axios.post('exchangepyn?email=' + this.user.email + '&walletFrom=' + this.user.walletFrom + '&walletTo=' + this.user.newWalletCreated + '&txid=' + this.bnb.txId)
                .then(res => {

                    this.loading = true

                    if(res.status == 200) {
                        
                        this.isBuySuccess = true
                        this.buyOrder.txhash = res.data

                        this.snackbar.show = true
                        this.snackbar.color = "green"
                        this.snackbar.text = "Success! Your TxHash is: " + res.data

                        setTimeout(() => {
                            this.loading = false
                            this.isBuySuccess = false
                            this.isWalletCreated = false
                            this.isEmailMatched = null
                            this.buyOrder.txhash = null
                            this.cancelPYNBuying()
                        }, 30000)

                    }                    

                })
                .catch(err => {
                    console.error(err)
                    this.isSuccess = false
                });
          
            }
        
        },

        verifyWallet() {

            if(this.user.walletFrom == null || this.user.walletFrom == '') {
                this.snackbar.show = true
                this.snackbar.color = "red"
                this.snackbar.text = "Please provide a wallet!"
                return;
            }

            if(!(/^bnb[a-z0-9]{39,39}$/.test(this.user.walletFrom))){
                this.snackbar.show = true
                this.snackbar.color = "red"
                this.snackbar.text = "Please provide a valid wallet format!"
                return;
            }

            this.step = 3;

        },

        cancelPYNBuying: function(){
            this.$root.$emit('closePynDialog')
        },
    }
}
</script>

<style scoped>
    .step-content {
    /* vuetify sets the v-tabs__container height to 48px */
    height: 160px;
    }
</style>
