<template>
  <v-card>
    <v-toolbar color="primary" dark>
      <v-icon color="white">payment</v-icon>
      <v-toolbar-title>Buy PYN-C37</v-toolbar-title>
      <v-spacer></v-spacer>
     
    </v-toolbar>
    
    <div class="flex" align="center" v-if="isSuccess">
        <br>
        <v-chip class="ma-2" color="light-green accent-4" outlined>
          <v-icon left>mdi-server-plus</v-icon>
          Transaction successful!
      </v-chip>
    </div>

   <v-container fluid>
 
        <v-alert outline color="primary" icon="info" :value="true" v-if="!this.isSuccess">
            <i class="txfont">
              Wallet From - wallet that sends BNB <br>
              TxHash - TxHash of sent BNB <br>
            </i>
        </v-alert>
        <v-alert outline color="orange" icon="info" :value="true" v-if="isNewUserExist == false">         
            User does'nt exist!
        </v-alert>
        <br>

        <v-text-field
        label="Email"
        append-icon="email"
        name="email"
        id="email"
        type="email"
        v-model="user.email"
        ></v-text-field>

        <v-text-field
        label="Wallet From"
        append-icon="account_balance_wallet"
        name="wallet"
        id="wallet"
        type="text"
        v-model="user.wallet"
        ></v-text-field>

        <v-text-field
        label="TxHash"
        append-icon="tag"
        name="txid"
        id="txid"
        type="text"
        v-model="txid"
        class="txfont"
        ></v-text-field>
         
     
  </v-container>

    <v-btn color="primary" :loading="loading" @click="handleBuyPYN">Buy <pre> </pre><v-icon>shopping_cart</v-icon></v-btn>

    <v-btn color="#D32F2F" @click="closePynDialog">Cancel <v-icon>close</v-icon></v-btn>

  </v-card>
</template>



<script>

import axios from 'axios';

import Tickets from "@/api/tickets"

export default {
  data: () => ({
    loading: false,
    pynDialog: false,
    isSuccess: false,
    salt: 'DEynJY6AH1h6EJF',
    user: { 
      email: localStorage.getItem('email'),
      wallet: localStorage.getItem('wallet'),
      password: localStorage.getItem('passhash')
    },
    walletTo: null,
    walletFrom: null,
    txid: null,
    newUser: {
      wallet: null,
      email: null,
      password: null
    },
    isNewUserExist: null
  }),
    methods: {

        async handleBuyPYN() {

          this.apiRegistrateWithoutWallet();

          const response = await axios.post('exchangepyn?email=' + this.user.email + '&walletFrom=' + this.walletFrom + '&walletTo=' + this.newUser.wallet + '&txid=' + this.txid)
            .then(res => {

                console.log(res.data)
                
                this.loading = true
                this.isSuccess = true

                setTimeout(() => {
                    this.loading = false
                    this.closePynDialog()
                }, 3000)

            })
            .catch(err => {
              console.error(err)
                this.isSuccess = false
            });

        },

        async apiRegistrateWithoutWallet() {

            let hashedPassword = this.sha256(this.user.password)

            let authToken = (await this.sha256(this.user.wallet +"_"+ this.user.email + this.user.password + this.salt))+"_"+ this.salt;

            const response = await axios.post('registrateWithoutWallet?email=' + this.user.email + '&passhash=' + hashedPassword)
            .then(res => {

                console.log(res.data)

                this.newUser.wallet = res.data.wallet;
                this.newUser.email = res.data.email;
                this.newUser.password = this.user.password;

            })
            .catch(err => console.error(err));
        },


        async checkIfUserExist(newWallet, newEmail, newPassword) {

            let authToken = (await this.sha256(newWallet +"_"+ newEmail + newPassword + this.salt))+"_"+ this.salt;

            const response = axios.post('test_auth?auth=' + authToken + '&wallet=' + newWallet + '&email=' + newEmail + '&passhash=' + newPassword)
            .then(res => {
                if(res.status == 200){
                    this.isNewUserExist = true
                }
            })
            .catch(err => this.isNewUserExist = false);

        },

        sha256(str) {
        
            var buffer = new TextEncoder("utf-8").encode(str);
            return crypto.subtle.digest("SHA-256", buffer).then(function(hash) {

                var hexCodes = [];
                var view = new DataView(hash);
                for (var i = 0; i < view.byteLength; i += 4) {
                    var padding = "00000000";
                    var paddedValue = (padding + view.getUint32(i).toString(16)).slice(-padding.length);
                    hexCodes.push(paddedValue); 
                }
                // Join all the hex strings into one
                return hexCodes.join("");
            });

        },

        closePynDialog: function(){
            this.$root.$emit('closePynDialog')
        },

    }

}
</script>

<style lang="css" scoped>
  .txfont{
    font-size: 12px;
  }
</style>



