<template>
  <v-app id="inspire" class="app dashboard">
    <!-- <app-drawer class="app--drawer" :show-drawer="this.showDrawer"></app-drawer> -->
    <app-toolbar class="app--toolbar" style="background-image: url('/static/bg/main-bg.png'); background-repeat: repeat"></app-toolbar>
    <v-content >
      <!-- Page Header -->
     
      <div class="page-wrapper">
        <router-view></router-view>
      </div>
      <!-- App Footer -->
    
    </v-content>
    <!-- Go to top -->
    <app-fab></app-fab>

      <v-footer height="auto" class="white pa-3 app--footer">
        <span class="caption">Paycent &copy; {{ new Date().getFullYear() }}</span>
        <v-spacer></v-spacer>
        
      </v-footer>
      
  </v-app>
</template>

<script>
import AppDrawer from "@/components/AppDrawer"
import AppToolbar from "@/components/AppToolbar"
import AppFab from "@/components/AppFab"
import PageHeader from "@/components/PageHeader"

export default {
  components: {
    AppDrawer,
    AppToolbar,
    AppFab,
    PageHeader
  },

  data() {
    return {
      // showDrawer: false
    }
  },
  methods: {
    handleDrawerVisiable() {
      // this.showDrawer = !this.showDrawer
    }
  },
  created() {}
}
</script>

<style scoped>
.page-wrapper {
  min-height: calc(100vh - 64px - 50px - 81px);
}
</style>
