<template>

  <div id="pageDashboard">

    <v-container grid-list-xl fluid>

      <!-- carousel  -->
      <v-layout row wrap>
        <ticket-card></ticket-card>
      </v-layout>

      <!-- balance panel -->
      <v-layout row wrap>

        <v-flex lg3 sm6 xs12>

        <!-- <tooltip title="Verified!"> -->
          <balance-card :balance="pynBalance.toFixed(4)" v-if="isVerified" icon="verified_user" title="PYN Balance" color="amber lighten-1"></balance-card> 
        <!-- </tooltip> -->

          <balance-card :balance="pynBalance.toFixed(4)" v-if="!isVerified"  title="PYN Balance" color="#FFAB00"></balance-card>
          
        </v-flex> 

        <v-flex lg3 sm6 xs12>
            <balance-card :balance="priceToBNB" title="PYN/BNB" color="light-blue"></balance-card>
        </v-flex> 

      </v-layout>

      <!-- account verification  -->
      <v-layout row wrap v-if="!isVerified">
        <v-flex lg6 sm12 xs12>

          <div class="py-3">
            <v-alert outline color="primary" icon="warning" :value="true">
              Looks like your account is 
              not yet <br>verified. To verify  
              your account, you <br>
              need to send <b>1 PYN</b> to this wallet <br><code>{{mainColdWallet}}</code>
              <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn sm icon flat color="#FFAB00" v-on="on" v-clipboard="mainColdWallet">
                    <v-icon>file_copy</v-icon>
                </v-btn>
              </template>
                <span>Copy to clipboard</span>
              </v-tooltip>
                <br>Click the <b>Verify Account</b> button. 
            </v-alert>
          </div>

          <v-btn color="primary" @click.stop="verifyDialog = true">
            VERIFY ACCOUNT <pre> </pre>
            <v-icon>verified_user</v-icon>
          </v-btn>

          <v-dialog v-model="verifyDialog" max-width="640px">
            <verification></verification>
          </v-dialog>

        </v-flex>
      </v-layout>

      <v-dialog v-model="pynDialog" max-width="640px">
        <buy-pyn></buy-pyn>
      </v-dialog>

      <buy v-if="isBuyingPYN"></buy>

      <!-- ticket table -->
      <v-layout row v-if="isVerified && !isBuyingPYN">

        <v-flex lg12 sm12 xs12>
        
          <v-card>
            
            <v-toolbar card dense  style="background-image: url('/static/bg/3.jpg');background-repeat: no-repeat center center fixed; background-size: cover;">
              <v-toolbar-title class="text-white" style="color: white">My Tickets</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>

            <v-toolbar card dense color="transparent" style="margin-left: -12px">
                <!-- <v-btn color="primary" @click.stop="pynDialog = true"> -->
                <v-btn color="primary" @click.stop="isBuyingPYN = true">
                Buy PYN <pre> </pre>             
              </v-btn>
              <v-btn color="amber darken-2" @click.stop="dialog = true">
                Buy Ticket
              </v-btn>
            </v-toolbar>

            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <template>
                <v-data-table :headers="headers" :items-per-page="5" :items="ticketsTaken" class="elevation-1" >
                  <template slot="items" slot-scope="props">
                    <td ><code>{{ props.item.type }}-{{ props.item.id }}</code></td>
                    <td>{{ props.item.name }}</td>
                    <td v-if="props.item.type == 'A'"><img :src="'/static/icon/'+ props.item.type +'.png'" size="35" width="30"/></td>
                    <td v-if="props.item.type == 'B'"><img :src="'/static/icon/'+ props.item.type +'.png'" size="35" width="30"/></td>
                    <td v-if="props.item.type == 'C'"><img :src="'/static/icon/'+ props.item.type +'.png'" size="20" width="20"/></td>
                    <td v-if="props.item.type == 'D'"><img :src="'/static/icon/'+ props.item.type +'.png'" size="20" width="20"/></td>
                    <td v-if="props.item.type == 'E'"><img :src="'/static/icon/'+ props.item.type +'.png'" size="20" width="20"/></td>
                    <td v-if="props.item.type == 'F'"><img :src="'/static/icon/'+ props.item.type +'.png'" size="20" width="30"/></td>
                    <td v-if="props.item.type == 'G'"><img :src="'/static/icon/'+ props.item.type +'.png'" size="20" width="20"/></td>
                    <td >
                      <v-badge color="#FFCA28">
                        <template v-slot:badge>
                          <span>{{ props.item.number }}</span>
                        </template>
                      </v-badge>
                    </td>
              
                    <td >
                      <v-chip class="ma-2" color="yellow lighten-1">
                        {{ (props.item.price).toFixed(4) }} PYN
                      </v-chip>
                    </td>
                    <td>{{ props.item.DateTaken | formatDate }} </td>
                    <td>{{ props.item.DateLottery | formatDate }} </td>
                    <td>
                      <v-chip class="ma-2" color="green accent-2" v-if="timeRemaining > 0">
                          {{getDateDiff(props.item.DateTaken, props.item.DateLottery )}}
                      </v-chip>
                      <v-chip class="ma-2" color="red" v-if="timeRemaining < 0">
                          Expired
                      </v-chip>
                    </td>
                  </template>
                </v-data-table>

              </template>

                <v-dialog v-model="dialog" max-width="640px">
                  <claimticket></claimticket>
                </v-dialog>

              <v-divider></v-divider>
            </v-card-text>
          </v-card>
        </v-flex>

      </v-layout>
    </v-container>

  </div>

</template>

<script>
import axios from 'axios';
import moment from 'moment';

import MiniStatistic from "@/components/widgets/statistic/MiniStatistic"
import VWidget from "@/components/VWidget"
import Material from "vuetify/es5/util/colors"
import VCircle from "@/components/circle/VCircle"
import TicketCard from "@/components/widgets/card/TicketCard"
import BalanceCard from "@/components/widgets/card/BalanceCard"
import BuyPyn from "@/components/pyn/BuyPyn"
import Claimticket from "@/components/tickets/Claimticket"
import Verification from "@/views/auth/Verification"
import Buy from "@/components/pyn/Buy"

export default {
  components: {
    VWidget,
    MiniStatistic,
    VCircle,
    TicketCard,
    BalanceCard,
    Claimticket,
    Verification,
    BuyPyn,
    Buy,
  },
  props: [],
   data: () => ({
    isVerified: true,
    ticketIcon: null,
    pynBalance: 0,
    priceToBNB: 0,
    ticketList: [],
    color: Material,
    selectedTab: "tab-1",
    showDialog: false,
    dialog: null,
    verifyDialog: null,
    pynDialog: null,
    drawer: null,
    replayDialog: null,
    isBuyingPYN: false,
    timeRemaining: 0,
    ticket: {
      hundredCard: 0,
      twoFiftyCard: 0,
      iphoneXr: 0,
      weekendPrizes: 0,
      grandFinal: 0
    },
    pagination: {
      descending: true,
      page: 1,
      rowsPerPage: 4,
      sortBy: 'Ticket ID',
      totalItems: 0,
      rowsPerPageItems: [1, 2, 4, 8, 16]
    },
    ticketsTaken: [],
    lotteries: [],
    headers: [
      {
        text: "Ticket ID",
        align: "left",
        sortable: false,
        value: "ticketno"
      },
      {
        text: "Ticket Name",
        align: "left",
        sortable: false,
        value: "tickets"
      },
      {
        text: "",
        align: "left",
        sortable: false,
        value: "tickets"
      },
      {
        text: "Total",
        align: "left",
        sortable: false,
        value: "ticketno"
      },
      {
        text: "Price",
        align: "center",
        sortable: false,
        value: "tickets"
      },
      {
        text: "Date Claimed",
        align: "left",
        sortable: false,
        value: "tickets"
      },
      {
        text: "Date Expiry",
        align: "left",
        sortable: false,
        value: "tickets"
      },
      {
        text: "Time Remaining",
        align: "left",
        sortable: false,
        value: "tickets"
      },
    ],
    mainColdWallet: 'bnb1hnpcaz750wsy897w0re8ejnvr9cxkyx5fuwren',
   
  }),
  methods: {

      async getData() {
        
        let authToken = localStorage.getItem('auth');
        let wallet = localStorage.getItem('wallet');
        let email = localStorage.getItem('email');
      
        let response = await axios.get('account?auth=' + authToken + '&wallet=' + wallet + '&email=' + email)
          .then(res => {
              this.pynBalance = res.data.availableBalance
              this.ticketsTaken = res.data.TicketsTaken
              this.isVerified = res.data.verified
              localStorage.setItem('availablePYNBalance', res.data.availableBalance);
          })
      },

      async convertPricePYNToBNB() {
        let response = await axios.get('https://dex-asiapacific.binance.org/api/v1/trades?offset=0&limit=1&symbol=PYN-C37_BNB&side=1')
          .then(res => {
            this.priceToBNB = res.data.trade[0]['price']
            localStorage.setItem('pyntobnbprice',  res.data.trade[0]['price']) 
          })
      },

      getDateDiff(DataClaimed, DateExpiry) {

        let endDate = moment(DateExpiry) ; 
        let startDate = moment(DataClaimed); 
        let duration = moment.duration(endDate.diff(startDate));

        if( Math.trunc(duration.asDays()) == 0 || Math.trunc(duration.asDays()) < 0 ) {

          if(Math.trunc(duration.asDays()) == 0 && Math.trunc(duration.asHours()) == 0){

            if(Math.trunc(duration.asMinutes()) > 0) {
              return Math.trunc(duration.asMinutes()) + ' min';
            }

          } else {

            if(Math.trunc(duration.asHours()) == 1) {
              return Math.trunc(duration.asHours()) + ' hr';
            }
            return Math.trunc(duration.asHours()) + ' hrs';
          }

        } else if(Math.trunc(duration.asDays()) == 1 && Math.trunc(duration.asHours()) > 0){

          return Math.trunc(duration.asDays()) + ' Day ' + Math.trunc(duration.asHours()) + ' hrs';

        } else if (Math.trunc(duration.asDays()) < 0) {
            return timeRemaining < 0;
        }

        // return Math.trunc(duration.asDays()) + ' Days ' + Math.trunc(duration.asHours()) + ' hrs';

      },

      closeDialog(){
         this.verifyDialog=false;
      },
      closePynDialog(){
         this.pynDialog=false;
         this.isBuyingPYN = false;
      },

  },
  mounted () {
      this.$root.$on('getUserData', () => {
        this.getData();
        this.dialog=false;
      }),
      this.$root.$on('closeDialog', () => {
        this.isVerified = true;
        this.closeDialog();
      }),
      this.$root.$on('closePynDialog', () => {
        this.closePynDialog();
      }),

      window.setInterval(() => {
        this.getData();
        this.convertPricePYNToBNB()
      }, 300000)

      this.getData();
      this.convertPricePYNToBNB()

  }
 
}
</script>

<style scoped>


  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  }

  .mobile {
      color: #333;
    }
  @media screen and (max-width: 768px) {
      .mobile table.v-table tr {
        max-width: 100%;
        position: relative;
        display: block;
      }
      mobile table.v-table tr:nth-child(odd) {
        border-left: 6px solid deeppink;
      }

      .mobile table.v-table tr:nth-child(even) {
        border-left: 6px solid cyan;
      }

      .mobile table.v-table tr td {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #f5f5f5;
        height: auto;
        padding: 10px;
      }

      .mobile table.v-table tr td ul li:before {
        content: attr(data-label);
        padding-right: .5em;
        text-align: left;
        display: block;
        color: #999;

      }
      .v-datatable__actions__select
      {
        width: 50%;
        margin: 0px;
        justify-content: flex-start;
      }
      .mobile .theme--light.v-table tbody tr:hover:not(.v-datatable__expand-row) {
        background: transparent;
      }

    }
    .flex-content {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .flex-item {
      padding: 5px;
      width: 50%;
      height: 40px;
      font-weight: bold;
    }
</style>
