<template>
  <v-card>
    <v-card-text class="pa-0">
      <v-container class="pa-0">
        <div class="layout row ma-0">
          <div class="xs6 xs12 flex" :class="pyncolor">
            <div class="layout column ma-0 justify-center align-center">
            
                <h1>{{ balance }}</h1>
                <span class="caption">PYN BALANCE</span>
            </div>
          </div>
          <div class="xs6 xs12 flex text-sm-center py-3 white--text" :class="color"> 
            <h1>{{ bnbPrice }}</h1>
            <span class="caption">PYN/BNB</span>
          </div>
        </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    icon: String,
    title: String,
    balance: Number,
    bnbPrice: String,
    subTitle: String,
    color: String,
    pyncolor: String
  }
}
</script>
