<template>
  <v-card>
    <v-toolbar color="primary" dark>
      <v-icon color="white">payment</v-icon>
      <v-toolbar-title>Buy Raffle Tickets</v-toolbar-title>
      <v-spacer></v-spacer>
     
    </v-toolbar>
    <br>
    <div class="flex" v-if="this.userPYNBalance > pynToBNBConversion && pynToBNBConversion > 0" align="center">
        <v-chip class="ma-2" color="amber lighten-1" outlined>
          <v-icon left>mdi-server-plus</v-icon>
          PYN Equivalent {{ parseFloat(pynToBNBConversion.toFixed(4)) }}
      </v-chip>
    </div>

    <div class="flex" v-if="pynToBNBConversion > this.userPYNBalance" align="center">
        <v-chip class="ma-2" color="#69F0AE" outlined>
          <v-icon left>mdi-server-plus</v-icon>
          You need more <pre> </pre><h5>{{ parseFloat(this.neededPYN.toFixed(4)) }}</h5> <pre> </pre> PYN!
      </v-chip>
    </div>

    <div class="flex" v-if="pynToBNBConversion > this.userPYNBalance" align="center">
        <v-chip class="ma-2" color="#FFC400" outlined>
          <v-icon left>mdi-server-plus</v-icon>
          You don't have enough PYN Balance
      </v-chip>
    </div>

    <div class="flex" v-if="this.ticketselected == null && this.clickCount > 0" align="center">
        <v-chip class="ma-2" color="#D32F2F" outlined>
          <v-icon left>mdi-server-plus</v-icon>
          Please select a ticket!
      </v-chip>
    </div>

    <div class="flex" v-if="numberofticket == 0 || numberofticket < 0" align="center">
        <v-chip class="ma-2" color="#D32F2F" outlined>
          <v-icon left>mdi-server-plus</v-icon>
          Invalid ticket entry
      </v-chip>
    </div>

   <v-container fluid>
 
          <v-flex>
            <v-select
              :items="tickets"
              v-model="ticketselected"
              label="Select"
              item-text="ticket"
              item-value="abbr"
              class="input-group--focused"
              @change="onChange($event, ticketselected)"
            ></v-select>
          </v-flex>

          <v-text-field
            label="Number of Tickets"
            append-icon="tag"
            name="ticketno"
            id="ticketno"
            type="number"
           v-model="numberofticket"
           :rules="rules.ticket_input"
           @input="onQtyChange($event, ticketselected)"
          ></v-text-field>
         
     
  </v-container>

    <v-btn color="primary" :loading="loading" @click="handleBuyTicket">Buy <pre> </pre><v-icon>shopping_cart</v-icon></v-btn>
    <v-btn color="orange" outline @click="this.updateData">Cancel <pre> </pre><v-icon>close</v-icon></v-btn>
  </v-card>
</template>



<script>

import axios from 'axios';

import Tickets from '@/api/tickets';

export default {
  data: () => ({
    items: [],
    ticketselected: null,
    tickets: Tickets,
    select: [],
    clickCount: 0,
    userPYNBalance : 0,
    pynToBNBConversion: 0,
    neededPYN: 0,
    dialog: false,
    loading: false,
    salt: 'DEynJY6AH1h6EJF',
    rules: {
      ticket_input: [val => (val || '').length > 0 || 'This field is required'],
      ticket_type: [val => (val || '').length > 0 || 'This field is required'],
    },
   
    replayDialog: null,
    tickettype: null,
    numberofticket: 1,
     user: { 
      email: localStorage.getItem('email'),
      wallet: localStorage.getItem('wallet'),
      password: localStorage.getItem('passhash')
    }
  }),
  methods: {

     onChange(event, ticketselected) {

        let ticketPrice = 0;
        this.userPYNBalance = localStorage.getItem('availablePYNBalance');

        if(ticketselected == 'A') {
          ticketPrice = 2;
        }else if (ticketselected == 'B'){
           ticketPrice = 5;
        }else if (ticketselected == 'C'){
           ticketPrice = 10;
        }else if (ticketselected == 'D'){
           ticketPrice = 40;
        }else if (ticketselected == 'E'){
           ticketPrice = 250;
        }else if (ticketselected == 'F'){
           ticketPrice = 600;
        }else {
           ticketPrice = 1100;
        }

        this.pynToBNBConversion = ((1 / parseFloat(localStorage.getItem('pyntobnbprice')) ) * ticketPrice) * Number(this.numberofticket);

        this.neededPYN = (((1 / parseFloat(localStorage.getItem('pyntobnbprice')) ) * ticketPrice) * Number(this.numberofticket)) - this.userPYNBalance;

    },

    onQtyChange(event, ticketselected) {

      let ticketPrice = 0;

        if(ticketselected == 'A') {
          ticketPrice = 2;
        }else if (ticketselected == 'B'){
           ticketPrice = 5;
        }else if (ticketselected == 'C'){
           ticketPrice = 10;
        }else if (ticketselected == 'D'){
           ticketPrice = 40;
        }else if (ticketselected == 'E'){
           ticketPrice = 250;
        }else if (ticketselected == 'F'){
           ticketPrice = 600;
        }else {
           ticketPrice = 1100;
        }

      this.pynToBNBConversion = ((1 / parseFloat(localStorage.getItem('pyntobnbprice')) ) * ticketPrice) * Number(this.numberofticket);

      this.neededPYN = (((1 / parseFloat(localStorage.getItem('pyntobnbprice')) ) * ticketPrice) * Number(this.numberofticket)) - this.userPYNBalance;

    },
    
    async handleBuyTicket() {

      this.clickCount += 1;

      if(this.ticketselected != null) {
        
        if(this.userPYNBalance > this.pynToBNBConversion) {

          if(this.numberofticket > 0){

            let authToken = (await this.sha256(this.user.wallet +"_"+ this.user.email + this.user.password + this.salt))+"_"+ this.salt;
        
            const response = await axios.post('take?auth=' + authToken + '&wallet=' + this.user.wallet + '&email=' + this.user.email + '&type=' + this.ticketselected + '&number=' + this.numberofticket)
              .then(res => {
                  this.loading = true

                  setTimeout(() => {
                      this.loading = false
                      this.updateData();
                  }, 2000)
              })
            .catch(err => console.error(err));
            
   

          }

        }

      }

    },

    sha256(str) {
      
        var buffer = new TextEncoder("utf-8").encode(str);
        return crypto.subtle.digest("SHA-256", buffer).then(function(hash) {

            var hexCodes = [];
            var view = new DataView(hash);
            for (var i = 0; i < view.byteLength; i += 4) {
                var padding = "00000000";
                var paddedValue = (padding + view.getUint32(i).toString(16)).slice(-padding.length);
                hexCodes.push(paddedValue); 
            }
            // Join all the hex strings into one
            return hexCodes.join("");
        });

    },

    updateData: function(){
      this.$root.$emit('getUserData')
    },


    querySelections(v) {
      
      this.loading = true
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.tickets.filter(e => {
     
          return ((e.ticket || "").toLowerCase().indexOf((v || "").toLowerCase()) > -1) + ' ' + (e.price || "").toLowerCase().indexOf((v || "").toLowerCase()) > -1
        })
        this.loading = false
      }, 500)
    }

  },

  watch: {
    search(val) {
      val && this.querySelections(val)
    }
  }

}
</script>




