<template>
  <v-toolbar color="primary" fixed dark app>
    <v-toolbar-title>
      <img src="/static/avatar/img-logo-lg-white.png" alt="Paycent Logo" width="80"/>
    </v-toolbar-title>
  
    <v-spacer></v-spacer>
    <v-toolbar-items>
     
      <v-menu offset-y origin="center center" :nudge-bottom="10" transition="scale-transition">
         
        <v-btn icon large flat slot="activator">
            <img src="/static/avatar/profile.png" alt="Paycent Logo" width="40" />
        </v-btn>

        <v-list class="pa-0">
          <v-list-tile
            v-for="(item, index) in items"
            :to="!item.href ? { name: item.name } : null"
            :href="item.href"
            @click="item.click"
            ripple="ripple"
            :disabled="item.disabled"
            :target="item.target"
            rel="noopener"
            :key="index"
          >
            <v-list-tile-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>

      <v-dialog v-model="dialog" max-width="640px">
        <password></password>
      </v-dialog>

    </v-toolbar-items>
  </v-toolbar>
</template>
<script>
import NotificationList from "@/components/widgets/list/NotificationList"
import Util from "@/util"
import Password from "@/components/tool/password"
export default {
  name: "AppToolbar",
  components: {
    NotificationList,
    Password
  },
  data() {
    return {
      items: [
         {
          icon: "security",
          href: "#",
          title: 'Change Password',
          click: this.handleChangePassword
        },
        {
          icon: "exit_to_app",
          href: "#",
          title: 'Logout',
          click: this.handleLogout
        }
      ],
      dialog: false,
      
    }
  },
  computed: {
    toolbarColor() {
      return this.$vuetify.options.extra.mainNav
    }
  },
  methods: {
    handleDrawerToggle() {
      this.$emit("side-icon-click")
    },
    handleFullScreen() {
      Util.toggleFullScreen()
    },
    handleLogout() {
      this.$store.dispatch('logout');
      this.$router.push('/');
    },
    handleChangePassword() {
       this.dialog = true
    },
    handleProfile() {

    }
  },
  mounted () {
      this.$root.$on('closePasswordDialog', () => {
        this.dialog=false;
      })
  }
 
}
</script>

<style lang="stylus" scoped></style>
