<template>
  <v-card class="elevation-4 pa-3 login-card">
    
    <v-card-text>
      <div class="layout column align-center">
        <img src="/static/bg/giveaway-bg.png" alt="Paycent" width="280" height="180" margin="-5"/>
      
      </div>

      <v-form>

        <v-text-field
          append-icon="person"
          name="wallet"
          :label="$t('login.wallet')"
          type="text"
          v-model="user.wallet"
          :rules="rules.wallet"
        ></v-text-field>

        <v-text-field
          append-icon="mail"
          name="email"
          :label="$t('login.email')"
          id="email"
          type="email"
          v-model="user.email"
          :rules="rules.email"
        ></v-text-field>

        <v-text-field
          append-icon="remove_red_eye"
          name="password"
          :label="$t('login.password')"
          id="password"
          type="password"
          v-model="user.password"
          :rules="rules.password"
        ></v-text-field>

      </v-form>
    </v-card-text>
    <div class="login-btn">
     
      <v-btn block color="primary" @click="handleLogin" :loading="loading">{{$t("login.submit")}}</v-btn>

    </div>

    <v-btn block color="#fac331" @click="register">
      <v-icon color="light-blue">fa signup fa-lg</v-icon>
      Register
    </v-btn>

    <v-snackbar :timeout="snackbar.timeout" top center :color="snackbar.color" v-model="snackbar.show">
      {{ snackbar.text }}
      <v-btn dark flat @click.native="snackbar.show = false" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>

  </v-card>
</template>

<script>
import axios from 'axios';

export default {
  data: () => ({
    loading: false,
    salt: 'DEynJY6AH1h6EJF',
    user: {
      wallet: "",
      email: "",
      password: ""
    },
    isLoginVerified: true,
    rules: {
      email: [val => (val || '').length > 0 || 'This field is required'],
      wallet: [val => (val || '').length > 0 || 'This field is required'],
      password: [val => (val || '').length > 0 || 'This field is required'],
    },
    snackbar: {
        show: false,
        text: "",
        timeout: 8000,
        color: "red"
    },
  }),

  methods: {

    async handleLogin() {

        if(this.user.wallet == '' || this.user.email == '' || this.user.password == '') {
          this.snackbar.show = true
          this.snackbar.text = "Please enter all the required credentials!"
          return;
        }

        let passwordHash = await this.sha256(this.user.password);

        let authToken = (await this.sha256(this.user.wallet +"_"+ this.user.email + passwordHash + this.salt))+"_"+ this.salt;

        const response = axios.post('test_auth?auth=' + authToken + '&wallet=' + this.user.wallet + '&email=' + this.user.email + '&passhash=' + passwordHash)
        .then(res => {

            if(res.status == 200){

              this.loading = true
              this.snackbar.show = true
              this.snackbar.color = "green"
              this.snackbar.text = "Login Success!"

              setTimeout(() => {
                this.$router.push("dashboard")
              }, 3000)
                                
              localStorage.setItem('auth', authToken)
              localStorage.setItem('wallet',this.user.wallet)
              localStorage.setItem('email',this.user.email)
              localStorage.setItem('password', passwordHash)
              localStorage.setItem('passhash', passwordHash)

              // this.$store.dispatch('login', { auth: authToken, wallet: this.user.wallet, email: this.user.email, passhash: passwordHash })
    
            }

        })
        .catch(err => {

            if(err.message == 'Request failed with status code 401'){
              this.snackbar.show = true
              this.snackbar.text = "Login Failed. Check your credentials!"
              return console.log(err)
            }

            this.snackbar.show = true
            this.snackbar.text = err
            
        });

    },

    async isVerified(authHash) {
        
        const response = await axios.get('account?auth=' + authHash + '&wallet=' + this.user.wallet + '&email=' + this.user.email)
        .then(res => {
            this.$store.dispatch('setAccountDetails', { pynbalance: res.data.availableBalance, verified: res.data.verified})
        })
        .catch(err => console.error(err));
    },

    sha256(str) {
      
        var buffer = new TextEncoder("utf-8").encode(str);
        return crypto.subtle.digest("SHA-256", buffer).then(function(hash) {

            var hexCodes = [];
            var view = new DataView(hash);
            for (var i = 0; i < view.byteLength; i += 4) {
                var padding = "00000000";
                var paddedValue = (padding + view.getUint32(i).toString(16)).slice(-padding.length);
                hexCodes.push(paddedValue); 
            }
            // Join all the hex strings into one
            return hexCodes.join("");
        });

    },

    register() {
      //handle logout
      this.$router.push('/register')
    },
  },

  beforeRouteEnter (to, from, next) { 
      if (localStorage.getItem('auth')) {
          return next('/dashboard');
      }

      next();
  }

}
</script>
<style scoped lang="css"></style>
