<template>
  <v-card class="elevation-4 pa-1 login-card">
    <v-card-text>
      <div class="layout column align-center">
        <img src="/static/bg/giveaway-bg.png" alt="Paycent" width="280" height="180" mt="-2"/>
      </div>

      <v-layout row wrap align="center" v-if="isSuccess == true">
        <v-chip large color="light-green accent-2" text-color="black">
            You are now registered! 
        </v-chip>
      </v-layout><br>

      <v-alert outline color="#1A237E" class="note-text" icon="info" :value="true">
          Your password must be 8 characters including at least 1 uppercase,
            1 special char and 1 numeric  <br>
            <b>Special characters allowed: </b><code> !@#$% </code>
      </v-alert>

      <div class="flex" v-if="!is_userregistration" align="center">

        <div class="flex heading" align="center" v-if="isSuccess == false">
          You need to send <b>1 PYN</b> to this wallet <br>
          <code>{{mainColdWallet}}</code>
     
         
          <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon xs color="green" v-on="on" v-clipboard="mainColdWallet">
                <v-icon>file_copy</v-icon>
              </v-btn>
          </template>
            <span>Copy to clipboard</span>

          </v-tooltip>
            <br>to verify your account. Enter the TxHash of the transaction.</div>
          </div>
          <br>
 
      <v-form>
        <!-- registration -->
        <v-text-field
          v-if="is_userregistration"
          append-icon="payment"
          name="wallet"
          :label="$t('register.wallet')"
          id="wallet"
          type="text"
          v-model="user.wallet"
          :rules="rules.wallet">
        </v-text-field>

        <v-text-field
          v-if="is_userregistration"
          append-icon="mail"
          name="email"
          :label="$t('register.email')"
          type="email"
          v-model="user.email"
          :rules="rules.email">
        </v-text-field>

         <v-text-field
          v-if="is_userregistration"
          :append-icon="value ? 'visibility' : 'visibility_off'"
          @click:append="() => (value = !value)"
          name="password"
          :label="$t('register.password')"
          id="password"
          :type="value ? 'password' : 'text'"
          v-model="user.password"
          :rules="rules.password">
        </v-text-field>

        <v-text-field
          v-if="is_userregistration"
          :append-icon="value ? 'visibility' : 'visibility_off'"
          @click:append="() => (value = !value)"
          name="confirmPassword"
          :label="$t('register.confirmPassword')"
          id="confirmPassword"
          :type="value ? 'password' : 'text'"
          v-model="user.confirmPassword"
          :rules="rules.password">
        </v-text-field>
        <!-- end: registration -->

        <!-- verify wallet: send 1 pyn to paycent cold wallet -->

        <v-text-field
          v-if="!is_userregistration"
          append-icon="tag"
          name="txid"
          label="TxHash"
          type="text"
          v-model="verification.txid"
          :rules="rules.txid">
        </v-text-field>
        <!-- end: verify wallet: send 1 pyn to paycent cold wallet -->

      </v-form>

    </v-card-text>

    <div class="login-btn">
      <v-btn color="primary" @click="is_userregistration ? register() :  verify() " :loading="loading">{{ btn_register_val }}</v-btn>
      <v-btn color="orange" outline @click="backToLogin">Back</v-btn>
    </div>

    <v-snackbar :timeout="snackbar.timeout" top center :color="snackbar.color" v-model="snackbar.show">
      {{ snackbar.text }}
      <v-btn dark flat @click.native="snackbar.show = false" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
   
  </v-card>
</template>

<script>

import axios from 'axios';

export default {

  data: () => ({
    isValid: null,
    isWalletValid: null,
    isSuccess: false,
    isWalletEmpty: true,
    isEmailValid: null,
    isPasswordMatch: true,
    loading: false,
    value: String,
    user: { 
      email: null,
      wallet: null,
      password: null,
      confirmPassword: null
    },
    verification: {
      userwallet: null,
      txid: null
    },
    snackbar: {
        show: false,
        text: "",
        timeout: 8000,
        color: "red"
    },
    salt: 'DEynJY6AH1h6EJF',
    rules: {
      email:
        [
          v => !!v || "E-mail is required",
          v =>
            /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
            "E-mail must be valid"
        ],
      password: [
        val => (val || '').length > 0 || 'This field is required'
        ],
      wallet: [val => (val || '').length > 0 || 'This field is required'],
      txid: [val => (val || '').length > 0 || 'This field is required'],
    },
    mainColdWallet: 'bnb1hnpcaz750wsy897w0re8ejnvr9cxkyx5fuwren',
    is_userregistration : true,
    btn_register_val : 'Register'
  }),

  methods: {

    async register() { 

      if(this.user.wallet == null || this.user.wallet == ''){
        this.snackbar.show = true
        this.snackbar.text = "Wallet address is required!"
        return;
      } 

      this.isWalletValid = (/^bnb[a-z0-9]{39,39}$/.test(this.user.wallet))

      if(!this.isWalletValid) { 
        this.snackbar.show = true
        this.snackbar.text = "Wallet should matched with the format: bnb[a-z0-9]{39,39}"
        return;
      }

      if (this.user.email == null || this.user.email == '') {
        this.snackbar.show = true
        this.snackbar.text = "You must provide an email address"
        return;
      } 

      this.isEmailValid = (/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.user.email))

      if(!this.isEmailValid) {
        this.snackbar.show = true
        this.snackbar.text = "You must provide a valid email address"
        return;
      }

      if(this.user.password == null || this.user.password == '') {
        this.snackbar.show = true
        this.snackbar.text = "You must provide a password"
        return;
      }

      this.isValid = (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%])[A-Za-z\d!@#$%]{8,}$/.test(this.user.password))

      if(!this.isValid){
        this.snackbar.show = true
        this.snackbar.text = "Please follow the password requirements."
        return
      }

      if(this.user.password != this.user.confirmPassword) {
        this.snackbar.show = true
        this.snackbar.text = "Password do not matched!"
        return
      }

      // If all required input values passed, then proceed with the registration process
      let passwordHash = await this.sha256(this.user.password);

      let authToken = (await this.sha256(this.user.wallet +"_"+ this.user.email + passwordHash + this.salt))+"_"+ this.salt;

      
      const response = await axios.post('registrate?auth=' + authToken + '&wallet=' + this.user.wallet + '&email=' + this.user.email + '&passhash=' + passwordHash)
      // const response = await axios.post('registrate', {auth: authToken , wallet: this.user.wallet , email: this.user.email, passhash: passwordHash} )
      .then(res => {

        this.loading = true;

        if(res.status == 200){
          this.snackbar.show = true
          this.snackbar.timeout = 0
          this.snackbar.color = "green"
          this.snackbar.text = "Congratulations! You're now registered."
          // mutate the state in store
          this.$store.dispatch('registerUserToStore', { auth: authToken, wallet: this.user.wallet, email: this.user.email, passhash: passwordHash })

          setTimeout(() => {
              this.loading = false;
              this.$router.push('/');
          }, 3000)

          return;

        }

        

        
      })
      .catch(err => {
         
          if(err.message == 'Request failed with status code 403'){
            this.snackbar.show = true
            this.snackbar.color = "amber darken-3"
            this.snackbar.text = "Http code 403. User already exist!"
            return console.log(err)
          }

          this.snackbar.show = true
          this.snackbar.text = err
          console.log(err)
      });

    },

    sha256(str) {
      
        var buffer = new TextEncoder("utf-8").encode(str);
        return crypto.subtle.digest("SHA-256", buffer).then(function(hash) {

            var hexCodes = [];
            var view = new DataView(hash);
            for (var i = 0; i < view.byteLength; i += 4) {
                var padding = "00000000";
                var paddedValue = (padding + view.getUint32(i).toString(16)).slice(-padding.length);
                hexCodes.push(paddedValue); 
            }
            // Join all the hex strings into one
            return hexCodes.join("");
        });
    },

    async verify() {

      let authToken = (await this.sha256(localStorage.getItem('wallet') +"_"+ localStorage.getItem('email') + localStorage.getItem('password') + this.salt))+"_"+ this.salt;

      if (this.verification.txid != null) {

        const response = axios.post('verify?auth=' + authToken + '&wallet=' + localStorage.getItem('wallet') + '&email=' + localStorage.getItem('email') + '&txid=' + this.verification.txid)
         
            .then(res => {
     
              this.loading = true
              this.isSuccess = true

              setTimeout(() => {
                this.$router.push('/');
                this.is_userregistration = false;
              }, 3000)

          })
          .catch(err => console.error(err));

          let data = await response.json()
        
      }

    },

    passwordRegex() {
      return (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%])[A-Za-z\d!@#$%]{8,}$/.test(this.user.password))
    },

    backToLogin() {
      //handle logout
      this.$router.push('/')
    },

  }, 

}

</script>

<style scoped lang="css">
  .caption, .subheading {
    font-weight:200;
  }

  .note-text {
      font-size: .80em;
  }

  .bg-cover {
    background-image: url('/static/bg/2.jpg'); 
    background-size: cover; 
    background-position: center;
  }
</style>

