<template>
  <v-card>
    <v-toolbar color="primary" dark>
      <v-icon color="light-green accent-4">verified_user</v-icon>
      <v-toolbar-title>Account Verification</v-toolbar-title>
      <v-spacer></v-spacer>
     
    </v-toolbar>
    <br>
    <div class="flex" align="center" v-if="isVerified">
        <v-chip class="ma-2" color="light-green accent-4" outlined>
          <v-icon left>mdi-server-plus</v-icon>
          Congratulations! You are now verified!
      </v-chip>
    </div>

    <div class="flex heading" align="center" v-if="isVerified == false">
      Enter the TxHash of the transaction.
    </div>

    <v-container fluid>
      <v-text-field
      class="txfont"
      append-icon="tag"
      name="txid"
      label="TxHash"
      type="text"
      v-model="verification.txid"
      :rules="rules.txid"
    ></v-text-field>       
     
    </v-container>

    <v-btn color="primary" :loading="loading" @click="handleVerify">Verify Account</v-btn>

    <v-snackbar :timeout="snackbar.timeout" top center :color="snackbar.color" v-model="snackbar.show">
      {{ snackbar.text }}
      <v-btn dark flat @click.native="snackbar.show = false" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>

  </v-card>

</template>



<script>

import axios from 'axios';

export default {
  data: () => ({
    isVerified: false,
    loading: false,
    verifyDialog: false,
    salt: 'DEynJY6AH1h6EJF',
    mainColdWallet: 'bnb1hnpcaz750wsy897w0re8ejnvr9cxkyx5fuwren',
    verification: {
      txid: null
    },
    rules: {
      txid: [val => (val || '').length > 0 || 'This field is required'],
    },
    snackbar: {
        show: false,
        text: "",
        timeout: 8000,
        color: "red"
    },
  }),
  methods: {

    async handleVerify() {

      let authToken = (await this.sha256(localStorage.getItem('wallet') +"_"+ localStorage.getItem('email') + localStorage.getItem('passhash') + this.salt))+"_"+ this.salt;

      if (this.verification.txid != null) {

        const response = axios.post('verify?auth=' + authToken + '&wallet=' + localStorage.getItem('wallet') + '&email=' + localStorage.getItem('email') + '&txid=' + this.verification.txid)
            .then(res => {
     
              this.loading = true
              this.isVerified = true
              this.verifyDialog = false
              
              setTimeout(() => {
                this.loading = false
                this.closeDialog()
              }, 3000)

          })
          .catch(err => {

            if(err.message == 'Request failed with status code 500'){
                this.snackbar.show = true
                this.snackbar.text = "Wrong transaction wallets don't match"
                return;
            }

            if(err.message == 'Request failed with status code 401'){
                this.snackbar.show = true
                this.snackbar.text = "Wrong wallet format. Should match [a-zA-Z0-9]{64,64}"
                return;
            }

            this.snackbar.show = true
            this.snackbar.text = err
            console.error(JSON.stringify(err))
          });

      }

    },

    closeDialog: function(){
      this.$root.$emit('closeDialog')
    },

    sha256(str) {
      
        var buffer = new TextEncoder("utf-8").encode(str);
        return crypto.subtle.digest("SHA-256", buffer).then(function(hash) {

            var hexCodes = [];
            var view = new DataView(hash);
            for (var i = 0; i < view.byteLength; i += 4) {
                var padding = "00000000";
                var paddedValue = (padding + view.getUint32(i).toString(16)).slice(-padding.length);
                hexCodes.push(paddedValue); 
            }
            // Join all the hex strings into one
            return hexCodes.join("");
        });
    },


  },

}
</script>

<style lang="css" scoped>
  .txfont{
    font-size: 12px;
  }
</style>




